 td, th{
    border:0,5px solid;
    padding: 5px;
}

tr{
    color: aliceblue;
}

td{
    background-color: #424250;
}
.cabecalho-moda{
    background-color: #bb86fc;
}

.cabecalho-casa{
    background-color: #00c4b4;
}
    
